.pagination-div{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

table{
  width: 100%;
  border: 1px solid black;
}

th, td{
  border: 1px solid black;
  width: 50%;
}

.select-div{
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(188, 193, 193);
  padding-top: 20px;
  padding-bottom: 20px;
}

.btns-div{
  margin: 10px;
}

button{
  margin: 10px;
}
